.drag-and-drop {
  width: 100%;
  ul {
    padding-top: 10px;
    padding-left: 15px;
    max-width: 600px;
    li {
      list-style: none;
      display: grid;
      grid-template-columns: 60px minmax(10px, 1fr) 60px 60px;
      align-items: center;
      &:not(:nth-of-type(1)) {
        margin-top: 10px;
      }
    }
  }

  &__list-item-action-button {
    &:hover {
      cursor: pointer;
    }
  }
}

.drag-container {
  margin-top: 15px;
  background: #fff;
  padding: 3em 5em;
  border-radius: 0.5em;
  border: 1px dashed black;
  width: 100%;

  &--dragged {
    border: 1px dashed yellowgreen;
  }

  &__button {
    margin-inline: auto;
  }

  input {
    display: none;
  }

  h1 {
    font-size: 24px;
    font-weight: normal;
  }
}
