.article {
  max-width: 830px;
  margin-inline: auto;

  &__two-col {
    margin-top: 15px;
    display: flex;

    &--space-between {
      justify-content: space-between;
    }
  }

  &__two-col-item {
    width: 100%;

    &:not(:nth-of-type(1)) {
      margin-left: 15px;
    }
  }

  &__submit-btn {
    height: 40px;
    padding-inline: 25px;
    padding-block: 12px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;

    &--no-fill {
      border: 1px solid black;
      background: transparent;
    }
  }
}

.article-home {
  max-width: 1260px;
  margin-inline: auto;

  &__search-bar {
    margin-top: 15px;
    display: flex;
    height: 30px;

    input {
      width: 100%;
      border-radius: 10px;
    }

    button {
      margin-left: 20px;
      padding-inline: 25px;
      border-radius: 10px;
    }
  }
}
